<li class="grid__item">
                  

<link href="//thesocialsociety.com/cdn/shop/t/9/assets/component-rating.css?v=179577762467860590411724258159" rel="stylesheet" type="text/css" media="all">
<link href="//thesocialsociety.com/cdn/shop/t/9/assets/component-volume-pricing.css?v=56284703641257077881724258159" rel="stylesheet" type="text/css" media="all">

<link href="//thesocialsociety.com/cdn/shop/t/9/assets/component-price.css?v=30789293175815960181724258158" rel="stylesheet" type="text/css" media="all">
<link href="//thesocialsociety.com/cdn/shop/t/9/assets/quick-order-list.css?v=135416534718644394131724258160" rel="stylesheet" type="text/css" media="all">
<link href="//thesocialsociety.com/cdn/shop/t/9/assets/quantity-popover.css?v=78745769908715669131724258159" rel="stylesheet" type="text/css" media="all">
  
<div class="card-wrapper product-card-wrapper underline-links-hover collection-helium-bundles" data-clip="#clip-product-template--18428184690913__product-grid-8695288004833">
    <div class="card card--standard card--media" style="--ratio-percent: 125.0%;">
      <div class="card__inner color-scheme-4 gradient ratio" style="--ratio-percent: 125.0%;"><div class="card__media">
            <div class="media media--transparent media--hover-effect">
              
              <img src="//thesocialsociety.com/cdn/shop/files/BTM_9713.jpg?v=1726626823&amp;width=533" alt="Build your own" class="motion-reduce" width="1363" height="2048">
              
</div>
          </div><div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a href="/pages/custom-form-helium-bundle" id="custom-helium-product-grid-product-card-image" class="full-unstyled-link" aria-labelledby="custom-helium-product-grid-product-card-image">
                Create Your Own Bundle
              </a>
            </h3>
          </div>
          <div class="card__badge bottom left"></div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h5" id="title-template--18428184690913__product-grid-8695288004833">
            <a href="/products/the-classic-collection" id="custom-helium-product-grid-product-card-image-link2" class="full-unstyled-link" aria-labelledby="custom-helium-product-grid-product-card-image">
              Create Your Own Bundle
            </a>
          </h3>
          <div class="card-information"><span class="caption-large light"></span>
            
<div class="
    price ">
  <div class="price__container"><div class="price__regular"><span class="visually-hidden visually-hidden--inline">Regular price</span>
        <span class="price-item price-item--regular">
          INQUIRE NOW
        </span></div>
    <div class="price__sale">
        <span class="visually-hidden visually-hidden--inline">Regular price</span>
        <span>
          <s class="price-item price-item--regular">
            
              
            
          </s>
        </span><span class="visually-hidden visually-hidden--inline">Sale price</span>
      <span class="price-item price-item--sale price-item--last">
        INQUIRE NOW
      </span>
    </div>
    <small class="unit-price caption hidden">
      <span class="visually-hidden">Unit price</span>
      <span class="price-item price-item--last">
        <span></span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;per&nbsp;</span>
        <span>
        </span>
      </span>
    </small>
  </div></div>

            
</div>
        </div>
        
        <div class="card__badge bottom left"></div>
      </div>
    </div>
  </div>

  

                </li>