<div class="share-buttons">
  <div class="share-button--title">Share on:</div>

    <a
      target="_blank"
      href="//www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}"
      class="btn--share share-facebook"
    >
      {%- render 'icon-facebook' -%}
      <span class="share-title" aria-hidden="true">Share</span>
      <span class="visually-hidden">Share on Facebook</span>
    </a>

  <a
    class="share-buttons--threads"
    href="https://threads.net/intent/post?text={{ text }} {{ share_link }}"
    target="_blank"
  >
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.4806 9.7331C15.3902 9.68974 15.2983 9.64801 15.2052 9.60806C15.0431 6.62137 13.4111 4.91148 10.6708 4.89398C10.6584 4.89391 10.6461 4.89391 10.6337 4.89391C8.99461 4.89391 7.63143 5.59354 6.79241 6.86664L8.29948 7.90046C8.92627 6.9495 9.90994 6.74677 10.6344 6.74677C10.6427 6.74677 10.6511 6.74678 10.6594 6.74685C11.5617 6.7526 12.2426 7.01494 12.6832 7.52653C13.0039 7.89899 13.2184 8.41367 13.3246 9.06323C12.5246 8.92726 11.6595 8.88546 10.7346 8.93849C8.12926 9.08856 6.45434 10.6081 6.56683 12.7194C6.62391 13.7904 7.15747 14.7118 8.06914 15.3137C8.83995 15.8225 9.8327 16.0713 10.8645 16.015C12.227 15.9403 13.296 15.4205 14.0417 14.4699C14.608 13.748 14.9662 12.8125 15.1244 11.6338C15.7737 12.0257 16.255 12.5414 16.5208 13.1613C16.9727 14.2151 16.9991 15.9469 15.586 17.3587C14.348 18.5955 12.8599 19.1306 10.6109 19.1471C8.11608 19.1286 6.22932 18.3285 5.0026 16.769C3.85388 15.3088 3.26022 13.1996 3.23807 10.5C3.26022 7.80038 3.85388 5.69117 5.0026 4.23092C6.22932 2.67147 8.11605 1.87141 10.6108 1.85287C13.1237 1.87155 15.0433 2.67547 16.317 4.24244C16.9415 5.01086 17.4124 5.97721 17.7228 7.10394L19.4889 6.63274C19.1126 5.24587 18.5206 4.05078 17.7149 3.05966C16.0821 1.05073 13.694 0.0213443 10.617 0H10.6047C7.53393 0.0212702 5.17257 1.05457 3.58622 3.07117C2.17458 4.8657 1.44642 7.36266 1.42195 10.4926L1.42188 10.5L1.42195 10.5074C1.44642 13.6373 2.17458 16.1343 3.58622 17.9289C5.17257 19.9454 7.53393 20.9788 10.6047 21H10.617C13.347 20.9811 15.2714 20.2663 16.8567 18.6825C18.9307 16.6103 18.8683 14.013 18.1847 12.4185C17.6943 11.2751 16.7592 10.3465 15.4806 9.7331ZM10.7669 14.1648C9.62506 14.2291 8.43876 13.7166 8.38027 12.6188C8.33691 11.8048 8.95954 10.8966 10.837 10.7884C11.052 10.776 11.263 10.7699 11.4703 10.7699C12.1522 10.7699 12.7902 10.8362 13.3702 10.963C13.1539 13.6648 11.8849 14.1035 10.7669 14.1648Z" fill="#141417"/>
    </svg>
  </a>

  <a class="share-buttons--messenger" href="fb-messenger://share/?link={{ share_link }}" target="_blank">
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.1847C0 4.33376 4.58575 0 10.4997 0C16.4137 0 20.9994 4.33638 20.9994 10.1873C20.9994 16.0383 16.4137 20.3721 10.4997 20.3721C9.43661 20.3721 8.41814 20.2303 7.46004 19.9678C7.27367 19.918 7.07418 19.9311 6.89831 20.0098L4.81412 20.9285C4.68824 20.9841 4.55065 21.0078 4.41345 20.9977C4.27624 20.9876 4.14361 20.944 4.02722 20.8706C3.91083 20.7973 3.81425 20.6964 3.74595 20.577C3.67765 20.4576 3.63973 20.3232 3.63552 20.1857L3.57778 18.3167C3.57253 18.0858 3.46753 17.8705 3.29691 17.7183C1.25472 15.8913 0 13.2454 0 10.1847ZM7.27893 8.27115L4.19464 13.164C3.89803 13.6339 4.47551 14.1615 4.9165 13.8255L8.22916 11.3108C8.33816 11.228 8.47115 11.183 8.60802 11.1825C8.74489 11.182 8.87819 11.2262 8.98776 11.3082L11.4421 13.1483C11.6162 13.279 11.8154 13.3722 12.0274 13.4221C12.2393 13.4719 12.4593 13.4772 12.6734 13.4378C12.8875 13.3983 13.0911 13.3149 13.2713 13.1928C13.4515 13.0706 13.6045 12.9125 13.7205 12.7283L16.8074 7.83804C17.1014 7.36817 16.5239 6.83794 16.0829 7.17393L12.7703 9.68861C12.6613 9.7714 12.5283 9.81643 12.3914 9.81691C12.2545 9.81738 12.1212 9.77327 12.0117 9.69124L9.55737 7.85116C9.38329 7.72042 9.18399 7.6272 8.97206 7.57737C8.76014 7.52754 8.54018 7.52219 8.32608 7.56165C8.11198 7.60112 7.90838 7.68454 7.72815 7.80666C7.54792 7.92878 7.39496 8.08694 7.27893 8.27115Z" fill="#141417"/>
    </svg>
  </a>
</div>
