<script>
  document.body.addEventListener('click', function (event) {
        // Specify the selectors you're interested in
        var selectors = ['[name="submit"]', '[name="goto_pp"]', '[name="goto_gc"]'];
        var target = event.target;

        // Check if the clicked element matches any of the selectors
        if (selectors.some(function (selector) { return target.matches(selector); })) {
            var agreeCheckbox = document.getElementById('agree');

            if (agreeCheckbox && agreeCheckbox.checked) {
                // Simulate form submission
                target.closest('form').submit();
            } else {
                alert("You must agree with the {{ section.settings.waiver_label }}.");
                event.preventDefault();
            }
        }
    }, false);
  });
</script>

<p style="float: none; text-align: right; clear: both; margin: 10px 0;">
  <input style="float:none; vertical-align: middle;" type="checkbox" id="agree" />
  <label style="display:inline; float:none" for="agree">
    I agree with the <a href="/pages/event-waiver">{{ section.settings.waiver_label }}</a>.
  </label>
</p>

{% schema %}
  {
    "name": "Waiver checkbox",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "waiver_label",
        "label": "Waiver label",
        "default": "terms and conditions"
      }
    ],
    "presets": [
      {
        "name": "Waiver checkbox"
      }
    ]
  }
{% endschema %}