:root {
  --color-primary: #BFA3DE;
  --color-primary-rgb: 191, 163, 222;
  --color-violet: #BFA3DE;
  --color-primary-rgb: 191, 163, 222;
  --color-dark: #141417;
  --color-dark-rgb: 20, 20, 23;
  --color-blue: #A6C4EB;
  --color-blue-rgb: 166, 196, 235;
  --color-deep-blue: #2E159B;
  --color-deep-blue-rgb: 46, 21, 155;
  --color-pink: #FFBFE1;
  --color-pink-rgb: 255, 191, 225;
  --color-green: #D6F254;
  --color-green-rgb: 214, 242, 84;
  --color-red: #F5420D;
  --color-red-rgb: 245, 66, 13;
  --gradient-background: #FCFAF5;
}

hr {
  background-color: black;
}

h2 {
  line-height: 1.2em;
}

/* Announcement bar */
.announcement-bar__message {
  font-family: Picaresk !important;
}

/* Header */
header-drawer {
  padding-left: 15px;
}

.scrolled-past-header .header__heading-logo-wrapper {
  width: 180px !important;
}

.header-wrapper--border-bottom {
  border-bottom: none;
}

.header__inline-menu {
  border-top: 2px solid var(--color-dark);
  border-bottom: 2px solid var(--color-dark);

  .page-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-menu {
    .header__menu-item:hover span {
      text-decoration: none;
    }

    >li:nth-child(1) {
      --bg-color: var(--color-primary);
    }

    >li:nth-child(2) {
      --bg-color: var(--color-blue);
    }

    >li:nth-child(3) {
      --bg-color: var(--color-pink);
    }

    >li:nth-child(4) {
      --bg-color: var(--color-green);
    }

    >li:nth-child(5) {
      --bg-color: var(--color-red);
    }

    >li details[open]>.header__menu-item,
    >li:hover .header__menu-item {
      background-color: var(--bg-color);
    }
  }

  .list-menu__item {
    font-family: Picaresk;
    font-weight: bold;
    font-size: 12px;
    color: var(--color-dark);
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 14px;

    >svg {
      display: none;
    }
  }
}

.header--secondary-menu {
  display: flex;
  align-items: center;

  .list-menu-secondary {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
  }

  .header__search {
    display: inline-flex !important;
  }
}

.header__search {
  details {
    display: flex;

    &[open] {
      summary {
        display: none;
      }
    }
  }

  .modal-overlay {
    display: none !important;
  }

  .search-modal__form .field:after,
  .search-modal__form .field:before,
  .search-modal__form .field:hover.field:after,
  .search-modal__form .field__input:focus {
    box-shadow: none;
  }

  .search-modal__form .field__input {
    height: 4rem;
  }

  .search-modal__form .search__input.field__input {
    padding-right: 3.8rem;
  }

  .search-modal__content {
    padding: 0;
  }

  .predictive-search {
    width: 500px;
    max-width: 100vw;
    right: 0;
    left: auto;

    .h5 {
      font-family: var(--font-body-family);
    }
  }
}

.template-search__search {
  border: 1px solid grey;
}

@media screen and (min-width: 990px) {
  .header__search .search-modal__form {
    max-width: 22.2rem;
  }
}

body.overflow-hidden {
  overflow: visible !important;
}

@media screen and (min-width: 990px) {
  .header--top-center .header__inline-menu {
    justify-self: stretch;
  }

  .header {
    padding-top: 10px !important;
  }
}

/* Mega menu */
.mega-menu__content {
  display: flex;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: 2px solid var(--color-dark);
  background-color: var(--bg-color) !important;

  .mega-menu__list {
    list-style: none;
    width: 50%;
    max-width: 300px;
    margin-left: 0;
    padding: 0;
    gap: 0 !important;
    background-color: white;
    border-right: 2px solid var(--color-dark);

    .mega-menu__link {
      font-family: Picaresk;
      color: var(--color-dark);
      padding: 22px 0;
      text-decoration: none;
    }

    >li {
      padding: 0 30px;
      transition: padding .3s;
      width: 100% !important;

      >a {
        text-transform: uppercase;
        font-weight: bold;
      }

      &:hover,
      &.hover-active {
        background-color: var(--bg-color);
      }
    }
  }

  .mega-menu--featured {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: var(--bg-color);

    >li {
      max-height: 100%;
      min-width: 220px;

      .card__inner,
      .mega-menu--collection img {
        max-width: 250px;
      }
    }
  }

  .mega-menu__link--active {
    font-weight: bold;
    text-decoration: underline;
  }

  .mega-menu__link--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

/* Footer */
footer {
  position: relative;
  padding-bottom: 0 !important;

  .footer__blocks-wrapper {
    .grid__item:nth-child(2) {
      width: calc(50% - var(--grid-desktop-horizontal-spacing)* 3 / 2);
    }

    .grid__item:nth-child(3) {
      text-align: right;

      ul li {
        margin-right: 0;
      }

      .list-menu__item {
        justify-content: flex-end;
      }
    }

    .footer-block--menu {
      >ul {
        display: flex;
        flex-direction: column;

        >li {
          margin-bottom: 40px;

          >a {
            font-weight: bold;
            font-size: 17px;
            text-transform: uppercase;
            padding-bottom: 0;
          }

          >ul {
            >li {
              >a {
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 1.5px;
              }
            }
          }
        }
      }
    }

    a {
      color: rgb(var(--color-foreground)) !important;
      text-decoration: none;
    }
  }

  .footer__content-bottom {
    display: none;
  }

  .credits {
    margin-top: 20px;
    cursor: pointer;
    line-height: 20px;

    span:first-child {}

    span:last-child {
      display: none;
    }
  }
}

.newsletter-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 20;
  visibility: hidden;
  transition: 1s visibility, 1s opacity;
  opacity: 0;

  &[open] {
    visibility: visible;
    opacity: 1;

    .newsletter {
      bottom: 0;
    }
  }

  .newsletter {
    position: fixed;
    bottom: -1050px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 1050px;
    height: 1050px;
    padding: 40px 0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M 0 1 Z C 0.093 0.843 0.24 0.699 0.499 0.696 C 0.785 0.697 0.906 0.842 1 1" fill="rgb(255, 191, 225)"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s bottom;
    overflow: visible;

    .newsletter-preheader {
      font-family: EdwardianScript;
      font-size: 38px;
    }

    .newsletter-header {
      font-family: ABCROMCompressed-Heavy;
      font-size: 70px;
      line-height: 57px;
      max-width: 400px;
      text-align: center;
      margin-bottom: 30px;
    }

    .newsletter-form {
      max-width: 350px;

      .field__input {
        box-shadow: none;
      }

      input[type="email"] {
        border: none;
        border-bottom: 2px solid black;
        background-color: transparent;
        width: 100%;
        padding: 10px;
      }

      input[type="email"]::placeholder {
        color: black;
        font-family: Picaresk;
      }

      input[type="email"]:focus {
        outline: none;
        box-shadow: none;
      }

      button {
        position: absolute;
        right: 0;
        bottom: 5px;
        font-family: Picaresk;
        font-size: 9px;
        font-weight: bold;
        color: var(--color-pink);
        background-color: var(--color-deep-blue);
        padding: 10px 20px;
        min-width: auto;
      }
    }

    .close {
      position: absolute;
      bottom: 300px;
      left: calc(50% + 300px);
      border: 1px solid white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: white;
      font-weight: normal;
      font-family: Arial;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
    }
  }
}

.field__label {
  color: black;
  font-family: Picaresk;
  left: 1em;
  top: 1.7rem;
}

@media (max-width: 749px) {
  footer {
    .footer__blocks-wrapper {

      .grid__item,
      .footer-block__details-content {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .grid__item:nth-child(2) {
        width: 320px;
        max-width: 100%;
        margin: 0 auto;
      }

      .footer-block--menu {
        >ul {
          flex-direction: row;
          justify-content: space-between;

          >li:first-child {
            .list-menu__item {
              justify-content: flex-start;
            }
          }

          >li:last-child {
            .list-menu__item {
              justify-content: flex-end;
            }
          }
        }
      }

      .credits {
        text-align: left;
        max-width: 50vw;
      }
    }
  }
}

/* Main */
main {
  a {
    font-family: Picaresk;
    font-weight: bold;
    color: var(--color-dark);
  }
}

/* Section Hero */
.section-hero--color-scheme-deep-blue,
.section-hero--color-scheme-dark {
  color: #A2E0E0;

  a,
  .subtitle,
  h2 {
    color: #A2E0E0 !important;
  }
}

.section-hero {
  .page-width {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;

    .section-hero--image {
      position: relative;
      overflow: hidden;
      font-size: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .section-hero--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      text-align: center;

      .titles {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 70px;
        max-width: 600px;

        p {
          margin: 0;
        }

        .subtitle {
          font-family: EdwardianScript;
          font-size: 40px;
          line-height: 30px;
        }

        .headline {
          font-size: 90px;
          line-height: 80px;
          margin: 0;
          margin-top: 10px;
        }
      }

      .description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 20px;
        line-height: 25px;
        max-width: 600px;
        margin: 0 auto;

        a {
          font-size: 13px;
        }
      }
    }
  }
}

/* Products */
svg.clips {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
}

.section-featured-collection {
  --grid-desktop-horizontal-spacing: 40px;

  .collection__title {
    text-align: center;
    --font-heading-family: 'Imbue';

    h2 {
      font-size: 60px;
      letter-spacing: -0.02em;
    }
  }

  .grid__item {
    text-align: center;
    margin-bottom: 3vh;

    .card-wrapper {
      height: auto;

      .card__content {
        --color-foreground: var(--color-dark-rgb);
        text-align: center;

        .price {
          display: none;
        }
      }
    }
  }
}

/* Buttons */
.button {
  border-radius: 25px;
  background-color: rgb(var(--color-red-rgb));
  color: white;
  border-image-width: 0;
  font-size: 12px;
  min-height: unset;
  padding: 15px 20px;
  text-transform: uppercase;

  &:before {
    display: none;
  }

  &:after {
    display: none;
  }
}

/* Section Image with Text */

@media (min-width: 750px) {
  .image-with-text__media-item {
    width: 40% !important;
  }

  .image-with-text__text-item {
    width: 60% !important;

    .image-with-text__content {
      padding-top: 10rem;
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
}

/* Section Product compilation */

.section-product-compilation {
  overflow: hidden;

  .grid__item.content {
    padding-bottom: 5vh;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .heading {
    text-align: center;

    >* {
      font-size: 40px;
      margin-bottom: 0;
    }
  }

  .subheading {
    p {
      margin: 0;
      text-align: center;
    }
  }

  .products {
    margin-top: 25px;
    padding: 0px 20px;
    --grid-desktop-horizontal-spacing: 35px;
    max-width: 900px;
    margin: 0 auto;

    .media {
      background-color: transparent;

      img {
        object-fit: contain;
      }
    }
  }

  .link {
    display: block;
    text-align: center;
    margin: 0 auto 20px;
  }
}

@media (max-width: 749px) {
  .section-product-compilation {
    .products {
      padding: 0px 0px;
    }

    .image img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
}

@media (min-width: 750px) {
  .section-product-compilation {
    .content {
      width: 60%;
    }

    .grid__item.content {
      padding-top: 6vh;
    }

    .image {
      width: 40%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Section collections */

.section-collections {
  background-color: var(--color-green);
  padding: 40px 20px 20px;

  .collections {
    justify-content: space-around;

    .collection {
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      max-width: 180px;
      margin-bottom: 25px;

      .collection-title {
        margin-top: 15px;
      }
    }
  }
}

/* Blog section */

.section-featured-blog {
  --grid-desktop-horizontal-spacing: 60px;

  .blog__title {
    --font-heading-family: Imbue;
    font-size: 60px;
    letter-spacing: -0.02em;
  }

  .title-wrapper-with-link {
    justify-content: center;
  }

  .card {
    background-color: #FCFAF5;
    color: var(--color-dark);
    --color-foreground: var(--color-dark-rgb);

    .card__heading {
      font-family: Picaresk;
    }
  }

  .read-more {
    font-size: 11px;
  }
}

/* Collection page */
.collection-hero {
  text-align: center;

  .collection-hero__text-wrapper {
    padding: 60px 0;

    .collection-hero__pretitle {
      font-family: EdwardianScript;
      font-size: 40px;
      line-height: 40px;
    }

    .collection-hero__title {
      text-transform: uppercase;
      font-size: 100px;
      line-height: 80px;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}

.product-grid-container {
  .collection {
    ul {
      --grid-desktop-horizontal-spacing: 40px;
      --grid-desktop-vertical-spacing: 65px;
      --grid-mobile-horizontal-spacing: 30px;
      --grid-mobile-vertical-spacing: 45px;
    }
  }
}

.collection-interjection:is(.color-deep-blue) .text,
.collection-interjection:is(.color-dark) .text {
  color: #a2e0e0 !important;
}

.collection-interjection {
  width: 100%;
  margin-bottom: 3vh;

  .image {
    padding: 3vh 3vw;

    img {
      max-width: 100%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 3vw;

    .preheading p {
      font-family: EdwardianScript;
      font-size: 32px;
      line-height: 32px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .heading p {
      text-align: center;
      font-family: ABCROMCompressed-Heavy, sans-serif;
      font-size: 65px;
      line-height: 60px;
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 600px;
    }

    .icon {
      margin-top: 30px;
      max-height: 130px;
    }
  }

  &.collection-interjection--reverse {
    .text {
      order: 1;
    }

    .image {
      order: 2;
      padding-left: 0px;
      padding-right: 60px;
    }
  }
}

.facets__form {
  border-bottom: 1px solid var(--color-dark);
}

.facets__form {

  h2,
  .facets__summary,
  select,
  .facets__header,
  .link,
  .facet-checkbox {
    font-family: Picaresk;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
  }

  .facet-checkbox {
    line-height: 20px;
  }
}

@media (max-width: 749px) {

  .collection-interjection,
  .collection-interjection.collection-interjection--reverse {
    .image {
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
    }
  }
}

/* Product page */

.product {
  .thumbnail-slider {
    .thumbnail {
      border-radius: 50%;
    }
  }
}

.section-related-products {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  --spacing-sections-desktop: 30px;

  .product-grid {
    .grid__item:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .related-products--titles {
        text-align: left;

        h2 {
          font-family: Imbue;
          font-size: 50px;
          letter-spacing: -0.02em;
          max-width: 100px;
          line-height: 55px;
          margin-bottom: 10px;
        }

        a {
          text-transform: uppercase;
        }
      }
    }
  }
}

.share-buttons {
  .share-button--title {
    margin: 10px 0;
  }

  a {
    text-decoration: none;
    margin-right: 10px;
  }
}

/* Section image with text random color scheme */
.section-image-with-text-rnd {
  overflow: hidden;

  .page-width {
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;

    .grid {
      .text {
        padding-top: 20px;
        padding-right: 30px;

        h2 {
          font-family: Picaresk;
          font-size: 45px;
        }

        a {
          color: rgb(var(--color-foreground));
          text-decoration: none;
        }
      }

      .image {}
    }
  }

  svg {
    position: absolute;
    bottom: 40px;
    right: 0;

    path {
      fill: rgb(var(--color-foreground));
    }
  }
}

@media screen and (min-width: 750px) {
  .section-image-with-text-rnd {
    .page-width {
      .grid {
        .text {
          width: 60%;
          max-width: 60%;
        }

        .image {
          width: 40%;
          max-width: 40%;
        }
      }
    }
  }
}

/* Section Contact */

.section-contact {
  .contact .grid {
    --grid-desktop-horizontal-spacing: 30px;

    .contact-graphics {
      background-color: var(--color-green);
      color: var(--color-deep-blue);
      padding: 60px 60px;
      text-align: center;
      overflow: hidden;

      .contact--sub-heading {
        font-family: EdwardianScript;
        font-size: 50px;
        line-height: 55px;
      }

      img {
        max-width: 380px;
      }

      .contact--heading {
        color: var(--color-deep-blue);
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 0;
      }
    }

    .contact-form {
      display: flex;
      justify-content: flex-start;
      padding-top: 80px;
      padding-bottom: 30px;
      --color-shadow: 0, 0, 0;
      --font-body-family: Picaresk;
      font-family: Picaresk;

      form {
        max-width: 600px;
        flex: 1;
      }

      .contact__fields {
        display: block;
      }

      label {
        font-size: 11px;
        /* top: 1.5rem; */
      }

      .button {
        padding: 15px 100px;
        border-radius: 21px;
      }
    }
  }

  .address {
    padding-top: 30px;
    background-color: var(--color-pink);
    color: var(--color-red);
    --color-foreground: var(--color-red-rgb);

    .address--heading {
      font-size: 60px;
      line-height: 55px;
    }

    .address--image {
      text-align: center;

      svg {
        margin-bottom: -100px;
        max-width: 180px;
      }
    }

    .address--address {
      font-size: 13px;
      line-height: 15px;

      strong {
        font-family: Picaresk;
      }
    }
  }
}

@media (max-width: 749px) {
  .section-contact {
    .contact-form {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .address {
      order: 2;
    }

    .address--image {
      order: 3;
    }
  }
}

/* Events */

.events-blog {
  --grid-desktop-horizontal-spacing: 20px;
  --grid-desktop-vertical-spacing: 30px;
  --grid-mobile-vertical-spacing: 30px;

  .events-hero {
    text-align: center;
    background-color: var(--color-red);
    color: rgb(var(--color-pink-rgb));
    --color-foreground: var(--color-pink-rgb);
    margin-bottom: 30px;

    .events-hero__text-wrapper {
      padding: 60px 0;

      .events-hero__pretitle {
        font-family: EdwardianScript;
        font-size: 40px;
        line-height: 40px;
      }

      .events-hero__title {
        text-transform: uppercase;
        font-size: 100px;
        line-height: 80px;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }

  .blog-articles__article {
    background-color: #F4EFE4;

    .article-card {
      flex-direction: row;

      >.card__inner {
        min-height: 450px;
      }

      >.card__content {
        padding: 20px;

        .card__heading {
          font-size: 18px;
        }

        .article-card__info {
          display: none;
        }

        .article-card__excerpt {
          line-height: 20px;
        }

        .read-more {
          font-size: 11px;
        }
      }
    }
  }
}

.article-card-wrapper {
  .event-date {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    left: 20px;
    background-color: #F4EFE4;
    padding: 10px;

    div:first-child {
      font-size: 45px;
      font-family: ABCROMCompressed-Heavy;
      line-height: 45px;
      color: black;
    }

    div:last-child {
      font-size: 14px;
      font-family: Picaresk;
      font-weight: bold;
      line-height: 15px;
      text-transform: uppercase;
      color: black;
    }
  }
}

.blog-in-store-events {
  .event-hero {
    margin-bottom: 50px;

    .grid__item:first-child {}

    .grid__item:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-pink);
      padding: 30px;

      .event-hero--content {
        max-width: 400px;

        .event-title {
          font-family: ABCROMCompressed-Heavy;
          font-size: 40px;
          line-height: 40px;
          color: var(--color-red);
          margin-bottom: 20px;
        }
      }
    }
  }

  .event-date {
    font-family: Picaresk;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .event-location {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .event-price {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .button {
    width: 100%;
    max-width: 320px;
  }

  .event-content {
    font-size: 18px;
    line-height: 23px;

    .event-description {
      margin-bottom: 50px;
    }
  }

  .event-share {
    text-align: center;

    .event-share--title {
      font-family: Picaresk;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .share-button--title {
      display: none;
    }
  }
}

.event-rsvp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;

  &[open] {
    display: flex;
  }

  form {
    position: relative;
    max-width: 100vw;
    background-color: #F4EFE4;
    padding: 50px;

    input,
    textarea {
      padding: 10px 5px;
      margin-bottom: 15px;
      width: 400px;
      max-width: 100%;
    }

    .event-rsvp--close {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 749px) {
  .events-blog .blog-articles__article .article-card {
    flex-direction: column;
  }
}

/* News blog */

.main-blog {
  .title--primary {
    font-size: 110px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .title--secondary {
    text-align: center;
    font-size: 24px;
    font-family: Picaresk;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .blog-articles {
    --grid-desktop-horizontal-spacing: 30px;
  }

  .card__heading {
    font-size: 18px;
  }

  .article-card__excerpt {
    font-size: 18px;
    line-height: 25px;
  }

  .read-more {
    font-size: 13px;
  }
}

.blog-news {
  header {
    text-align: center;

    h1 {
      font-size: 80px;
      line-height: 64px;
    }

    time {
      font-weight: bold;
      font-size: 15px;
      font-family: Picaresk;
    }
  }
}

/* About us */

.section-about-us {
  .grid {
    .grid__item.about-us--left {
      position: relative;
    }

    .left-block {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6vw 7vh;
      text-align: center;
      height: calc(100vh - 126px);
      overflow: hidden;

      .subheadline {
        font-family: EdwardianScript;
        font-size: 40px;
      }

      .image {
        width: 100%;
        max-width: 660px;

        img {
          width: 100%;
        }
      }

      .headline {
        font-family: ABCROMCompressed-Heavy;
        font-size: 60px;
      }
    }

    .left-block.left-block-static {
      position: relative;
      height: 100%;
      overflow: visible;
    }

    .grid__item.about-us--right.about-us--right-static {
      display: flex;
      flex-direction: column-reverse;

      .right-block {
        position: relative;
        height: 100%;
      }
    }

    .grid__item.about-us--right {

      .right-block {
        position: relative;
        padding: 50px 90px;
        height: calc(100vh - 126px);
        overflow: hidden;

        svg {
          opacity: .1;
          transform: scale(.8);

          &.icon-active {
            opacity: 1;
          }
        }

        .block-inner {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .content {
          max-width: 400px;
          margin: auto 0;

          h2,
          h3 {
            font-family: Picaresk;
            color: inherit;
          }

          p {
            line-height: 24px;
          }
        }
      }

      .left-block {
        display: none;
      }
    }
  }
}

@media (max-width: 749px) {
  .section-about-us {
    .grid {
      .about-us--left {
        display: none;
      }

      .left-block {
        position: relative;
        height: auto;
      }

      .grid__item.about-us--right {
        .right-block {
          height: auto;
          padding: 50px 9vw;
        }

        .left-block {
          display: flex;
        }
      }
    }
  }
}

@media (max-height: 750px) {

  .section-about-us:not(.section-about-us-static) {
    .grid {

      .left-block {

        .image {
          max-width: 300px;
        }
      }
    }
  }

}

@media (max-height: 899px) {

  .section-about-us:not(.section-about-us-static) {
    .grid {

      .left-block {

        .image {
          max-width: 360px;
        }
      }
    }
  }

}

/* Responsive */

.page-width-full {
  padding-left: 0;
  padding-right: 0;
  --page-width: 100%;
}

@media screen and (min-width: 750px) {
  .page-width:not(.page-width-desktop):not(.page-width-full) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .page-width-full {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 749px) and (max-width: 990px) {
  slider-component.page-width {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 990px) {
  .page-width-desktop {
    padding: 0 1.5rem;
  }
}