:root {
  --color-primary: #BFA3DE;
  --color-dark: #141417;
}

/* Announcement bar */
.announcement-bar__message {
  font-family: Picaresk !important;
}

/* Header */
header-drawer {
  padding-left: 20px;
}

.header__inline-menu {
  border-top: 1px solid var(--color-dark);
  border-bottom: 1px solid var(--color-dark);

  .page-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-menu__item {
    font-family: Picaresk;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-dark);
    font-size: 12px;
  }
}

.header--secondary-menu {
  display: flex;
  align-items: center;

  .list-menu-secondary {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .header__search {
    display: inline-flex !important;
  }
}


@media screen and (min-width: 990px) {
  .header--top-center .header__inline-menu {
    justify-self: stretch;
  }
}