:root {
  --color-primary: #BFA3DE;
  --color-primary-rgb: 191, 163, 222;
  --color-violet: #BFA3DE;
  --color-primary-rgb: 191, 163, 222;
  --color-dark: #141417;
  --color-dark-rgb: 20, 20, 23;
  --color-blue: #A6C4EB;
  --color-blue-rgb: 166, 196, 235;
  --color-pink: #FFBFE1;
  --color-pink-rgb: 255, 191, 225;
  --color-green: #D6F254;
  --color-green-rgb: 214, 242, 84;
  --color-red: #F5420D;
  --color-red-rgb: 245, 66, 13;
}

/* Announcement bar */
.announcement-bar__message {
  font-family: Picaresk !important;
}

/* Header */
header-drawer {
  padding-left: 15px;
}

.scrolled-past-header .header__heading-logo-wrapper {
  width: 40% !important;
}

.header-wrapper--border-bottom {
  border-bottom: none;
}

.header__inline-menu {
  border-top: 2px solid var(--color-dark);
  border-bottom: 2px solid var(--color-dark);

  .page-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-menu {
    .header__menu-item:hover span {
      text-decoration: none;
    }

    > li:nth-child(1) {
      --bg-color: var(--color-primary);
    }

    > li:nth-child(2) {
      --bg-color: var(--color-blue);
    }

    > li:nth-child(3) {
      --bg-color: var(--color-pink);
    }

    > li:nth-child(4) {
      --bg-color: var(--color-green);
    }

    > li:nth-child(5) {
      --bg-color: var(--color-red);
    }

    > li details[open] > .header__menu-item,
    > li:hover .header__menu-item {
      background-color: var(--bg-color);
    }
  }

  .list-menu__item {
    font-family: Picaresk;
    font-weight: bold;
    font-size: 12px;
    color: var(--color-dark);
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 14px;

    > svg {
      display: none;
    }
  }
}

.header--secondary-menu {
  display: flex;
  align-items: center;

  .list-menu-secondary {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .header__search {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 990px) {
  .header--top-center .header__inline-menu {
    justify-self: stretch;
  }

  .header {
    padding-top: 10px !important;
  }
}

/* Mega menu */
.mega-menu__content {
  display: flex;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: 2px solid var(--color-dark);
  background-color: var(--bg-color) !important;

  .mega-menu__list {
    display: flex !important;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    list-style: none;
    max-width: 700px;
    margin-left: 0;
    padding: 0;
    gap: 0 !important;
    background-color: white;
    border-right: 2px solid var(--color-dark);

    .mega-menu__link {
      font-family: Picaresk;
      color: var(--color-dark);
      padding: 22px 0;
      text-decoration: none;
    }

    > li {
      padding: 0 30px;
      transition: padding .3s;
      width: 50% !important;


      &:nth-child(odd) {
        border-right: 2px solid var(--color-dark);
      }

      > a {
        text-transform: uppercase;
        font-weight: bold;
      }

      &:hover,
      &.hover-active {
        background-color: var(--bg-color);
        padding-left: 20px;
      }
    }
  }

  .mega-menu--featured {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    background-color: var(--bg-color);

    > li {
      max-height: 100%;
      min-width: 220px;

      .card__inner,
      .mega-menu--collection img {
        max-width: 250px;
      }
    }
  }

  .mega-menu__link--active {
    font-weight: bold;
    text-decoration: underline;
  }

  .mega-menu__link--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

/* Footer */
footer {
  padding-bottom: 0 !important;

  .footer__blocks-wrapper {
    .grid__item:nth-child(2) {
      width: calc(50% - var(--grid-desktop-horizontal-spacing)* 3 / 2);
    }

    .grid__item:nth-child(3) {
      text-align: right;

      ul li {
        margin-right: 0;
      }

      .list-menu__item {
        justify-content: flex-end;
      }
    }

    .footer-block--menu {
      > ul {
        display: flex;
        flex-direction: column;

        > li {
          margin-bottom: 40px;

          > a {
            font-weight: bold;
            font-size: 17px;
            text-transform: uppercase;
            padding-bottom: 0;
          }

          > ul {
            > li {
              > a {
                font-size: 15px;
                letter-spacing: 1.5px;
              }
            }
          }
        }
      }
    }

    a {
      color: rgb(var(--color-foreground)) !important;
      text-decoration: none;
    }
  }

  .footer__content-bottom {
    display: none;
  }
}

@media (max-width: 749px) {
  footer {
    .footer__blocks-wrapper {

      .grid__item,
      .footer-block__details-content {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .grid__item:nth-child(2) {
        width: 320px;
        max-width: 100%;
        margin: 0 auto;
      }

      .footer-block--menu {
        > ul {
          flex-direction: row;
          justify-content: space-between;

          > li:first-child {
            .list-menu__item {
              justify-content: flex-start;
            }
          }

          > li:last-child {
            .list-menu__item {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

/* Main */
main {
  a {
    font-family: Picaresk;
    font-weight: bold;
    color: var(--color-dark);
  }
}

/* Section Hero */
.section-hero {
  .page-width {
    padding-top: 30px;
    padding-bottom: 30px;

    .section-hero--image {
      position: relative;
      overflow: hidden;
      font-size: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .section-hero--content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      text-align: center;

      .titles {
        margin-top: 70px;

        p {
          margin: 0;
        }

        .subtitle {
          font-family: EdwardianScript;
          font-size: 40px;
          line-height: 30px;
        }

        .headline {
          font-size: 100px;
          line-height: 85px;
          margin: 0;
          margin-top: 10px;
        }
      }

      .description {
        font-size: 20px;
        line-height: 25px;
        max-width: 400px;
        margin: 0 auto;

        a {
          font-size: 13px;
        }
      }
    }
  }
}

/* Products */
svg.clips {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
}

[class*="__featured_collection"] {
  .collection__title {
    text-align: center;
    font-family: 'freight'
  }

  .grid__item {
    text-align: center;

    .card-wrapper {
      height: auto;

      .card__content {
        --color-foreground: var(--color-dark-rgb);
        text-align: center;

        .price {
          display: none;
        }
      }
    }

    .product-card-wrapper.hovered {

      &.product-collection-balloons .card__media {
        clip-path: url(#clip-balloon);
      }

      &.product-collection-cake-toppers .card__media {
        clip-path: url(#clip-cake);
      }

      &.product-collection-garlands-banners .card__media,
      &.product-collection-birthday-candles-sparklers .card__media,
      &.product-collection-table-covers .card__media,
      &.product-collection-cutlery .card__media,
      &.product-collection-straws .card__media {
        clip-path: url(#clip-bag);
      }

      &.product-collection-confetti .card__media {
        clip-path: url(#clip-hat);
      }

      &.product-collection-plates .card__media {
        clip-path: url(#clip-heart);
      }

      &.product-collection-cups .card__media {
        clip-path: url(#clip-cup);
      }

      &.product-collection-napkins .card__media {
        clip-path: url(#clip-card);
      }
    }
  }
}

/* Buttons */
.button {
  border-radius: 20px;
  background-color: rgb(var(--color-red-rgb));
  color: white;
  border-image-width: 0;
  font-size: 10px;
  min-height: unset;
  padding: 10px 10px;

  &:before {
    display: none;
  }

  &:after {
    display: none;
  }
}

/* Section Image with Text */

@media (min-width: 750px) {
  .image-with-text__media-item {
    width: 40% !important;
  }

  .image-with-text__text-item {
    width: 60% !important;

    .image-with-text__content {
      padding-top: 10rem;
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
}

/* Responsive */

.page-width-full {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 750px) {
  .page-width:not(.page-width-desktop):not(.page-width-full) {
    padding: 0 1.5rem;
  }

  .page-width-full {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 749px) and (max-width: 990px) {
  slider-component.page-width {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 990px) {
  .page-width-desktop {
    padding: 0 1.5rem;
  }
}