.section.sub-hero h2.heading {
  align-self: start;
}
.section-sub-hero--content {
  width: 100%; 
  max-width: 100%;
  
}

.section-sub-hero {
  width: 100%;
  margin-bottom: 3vh;

}
.section-sub-hero .image {
  line-height: 1;
  padding: 3vh 3vw;
}
.section-sub-hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 3vw;
}